# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class
*.css.map

# Package Files #
*.jar
*.war
*.ear

# User-specific stuff:
.idea/
target/
## File-based project format:
*.iws
*.iml

## Plugin-specific files:

# mpeltonen/sbt-idea plugin
.idea_modules/
**/dev.conf
/node_modules/

logs/
